<suite name="Group of group Suite" verbose="1">
    <test name="Foreign key constraint for single column">
        <classes>
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.constraint.CreateCurrentTenantForeignKeyConstraintForPostsTableFromPublicSchemaTest" />
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.constraint.CreateCurrentTenantForeignKeyConstraintForPostsTableFromNonPublicSchemaTest" />
        </classes>
    </test>
    <test name="Foreign key constraint for composite key">
        <classes>
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.constraint.CreateCurrentTenantCompositeForeignKeyConstraintForCommentsTableFromPublicSchemaTest" />
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.constraint.CreateCurrentTenantCompositeForeignKeyConstraintForCommentsTableFromNonPublicSchemaTest" />
        </classes>
    </test>
    <test name="Row Level Security Policy for single table">
        <classes>
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.rls.CreateRLSForSingleTableInPublicSchemaTest" />
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.rls.CreateRLSForSingleTableInNonPublicSchemaTest" />
        </classes>
    </test>
    <test name="Row Level Security Policy for single table and non privileged user">
        <classes>
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.rls.CreateRLSForSingleTableInNonPublicSchemaForNonPrivilegedUserTest" />
        </classes>
    </test>
    <test name="Setting reference to records that belongs to different tenant with Row Level Security Policy set but without constraints for foreign keys">
        <classes>
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.rls.RLSWithSettingReferenceWithoutConstraintForCurrentTenantForeignKeyInNonPublicSchemaTest" />
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.rls.RLSWithSettingReferenceWithoutConstraintForCurrentTenantForeignKeyInPublicSchemaTest" />
        </classes>
    </test>
    <test name="Setting Row Level Security Policy for single table that the tenant column was just added">
        <classes>
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.rls.CreateRLSForSingleTableForWhichTenantColumnWasJustAddedInNonPublicSchemaTest" />
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.rls.CreateRLSForSingleTableForWhichTenantColumnWasJustAddedInPublicSchemaTest" />
        </classes>
    </test>
    <test name="Full tests with Shared Schema Builder 1">
        <classes>
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.sanity.CreateCurrentTenantCompositeForeignKeyConstraintForCommentsTableInNonPublicSchemaTest" />
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.sanity.CreateCurrentTenantCompositeForeignKeyConstraintForCommentsTableInPublicSchemaTest" />
        </classes>
    </test>
    <test name="Full tests with Shared Schema Builder 2">
        <classes>
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.sanity.RLSForSingleTableForWhichTenantColumnWasJustAddedInNonPublicSchemaTest" />
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.sanity.RLSForSingleTableForWhichTenantColumnWasJustAddedInPublicSchemaTest" />
        </classes>
    </test>
    <test name="Full tests with Shared Schema Builder 3">
        <classes>
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.sanity.RLSForSingleTableInNonPublicSchemaTest" />
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.sanity.RLSForSingleTableInPublicSchemaTest" />
        </classes>
    </test>
    <test name="Full tests with Shared Schema Builder 4">
        <classes>
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.sanity.RLSWithSettingReferenceWithConstraintForCurrentTenantForeignKeyInNonPublicSchemaTest" />
            <class name="com.github.starnowski.posmulten.postgresql.core.functional.tests.sanity.RLSWithSettingReferenceWithConstraintForCurrentTenantForeignKeyInPublicSchemaTest" />
        </classes>
    </test>
</suite>